cifar-10.python.tar.gz filter=lfs diff=lfs merge=lfs -text
*.tar.gz filter=lfs diff=lfs merge=lfs -text
cifar-10-python.tar.gz filter=lfs diff=lfs merge=lfs -text
*cifar-10.python.tar.gz filter=lfs diff=lfs merge=lfs -text
aclimdb_v1.tar.gz filter=lfs diff=lfs merge=lfs -text
aclImdb_v1.tar.gz filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
